*{
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier;

}

main {
    padding-bottom: 30px;
}
footer{
    padding: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    transform: scale(1.01);
}


.navbar {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 20px;
    color: black;
   }
.navbar a {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar span {
    margin-right: 5px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home a {
    margin-top: 5vh;
    font-size: 2.5rem;
}
@media (max-width: 325px) 
{
    .home a {
        text-align: center;
        margin-top: 30vh;
    }
}

.home img {
    margin-top: 10vh;
    width: 255.5px;
    height: 333.5px;
}

@media (max-width: 325px) 
{
    .home img {
       display: none;
    }
}

.all {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all input {
    border-radius: 25px;
    border: 3.5px solid black;
    padding: 10px;
    font-size: 2rem;
    width: 50%;
}

.list {
    margin-top: 10vh;
    width: 90%;
    display: grid;
    gap: 5rem 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

@media(max-width: 1025px){
    .list{
        grid-template-columns: 1fr 1fr;
    }
    .all input {
        width: 70%;
    }
}

@media(max-width: 675px){
    .list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .all input {
        width: 70%;
    }
}

.list .item {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 5px solid white;
    border-top: 0px;
   
}

.list .item-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 25px;
    text-align: center;
}

.list .item-text h3{
    margin-bottom: 10px;
}

.list span {
    background-color: white;
    border-radius: 5px;
    padding: 1px 5px;
    margin-bottom: 5px;
    color: black;
    
}

.list .tags {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-around;
}
