*{
    margin: 0;
    padding: 0;
}

a{
    font-family: 'Courier New', Courier;
    text-decoration: none;
    color: black;
}

a:hover {
    transform: scale(1.01);
}


.navbar {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0px;
    color: black;
   }

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home a {
    margin-top: 8vh;
    text-transform: uppercase;
    font-size: 2.5rem;
}
@media (max-width: 325px) 
{
    .home a {
        text-align: center;
        margin-top: 30vh;
    }
}

.home img {
    width: 255.5px;
    height: 333.5px;
}

@media (max-width: 325px) 
{
    .home img {
       display: none;
    }
}